<div class="banda">
    <div class="ancho">
        <div class="logo">
            <p><a href="/">Federico Buzzoni</a></p>
        </div>
        <nav>
            <ul>
                <li style="color: whitesmoke;"><a>Módulo administración</a></li>
            </ul>
        </nav>
    </div>
</div>

<div class="ingreso">
    <h1>Backend</h1>
    <div class="novedadesgrid">
        <div class="novedadescont">
            <h3>Modificar una nueva novedad</h3>
            <form action="/admin/novedades/modificar" method="post" enctype="multipart/form-data">
                <input type="hidden" value="{{novedad.id}}" name="id">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Título" name="titulo"
                        value="{{novedad.titulo}}">
                </div>
                <div class="form-group">
                    <textarea type="text" class="form-control" placeholder="Subtítulo"
                        name="subtitulo">{{novedad.subtitulo}}</textarea>
                </div>
                <div class="form-group">
                    <textarea type="text" class="form-control" placeholder="Cuerpo"
                        name="cuerpo">{{novedad.cuerpo}}</textarea>
                </div>
                <div class="form-group">
                    <p>
                        <label>Imagen: <input type="file" name="imagen" id="imagen"/></label>
                    </p>
                    <p>
                        <label><input type="checkbox" name="img_delete" id="img_delete" value="1">Eliminar imagen actual?</label>
                        <input type="hidden" name="img_original" value="{{novedad.img_id}}">
                    </p>
                </div>
                <button type="submit" class="btn btn-primary">Modificar</button>
            </form>
        </div>
    </div>
</div>

{{#if error}}
<h5>{{message}}</h5>
{{/if}}

<footer>
    <div class="bandafooter">
        <div class="anchofooter">
            <p>Desarrollado por Federico Buzzoni. 2021</p>
        </div>
    </div>
</footer>